GORIDE_ADDR=:8080
GORIDE_PG_DSN=postgres://goride:goride@localhost:5432/goride?sslmode=disable
GORIDE_REDIS_ADDR=localhost:6379
GORIDE_ENV=dev
GORIDE_NEWRELIC_LICENSE=
GORIDE_PSP_SECRET=dev-psp-secret
